<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8">
      <title>Зеленая планета</title>
      <style>
         body{
            background-image: url('https://cdn.finam.ru/images/publications/1560997/1280_2_4cb818b298.jpg');
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
         }

         h1{
            color: green;
         }

         a{
            color:rgb(255, 0, 0);
         }
      </style>
   </head>
   <body>
      <h1>{{value}}</h1>
      <h1><a href="http://127.0.0.1:5000/temperature">температура</a></h1>
   </body>
</html>