<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зеленая планета</title>
    <style>
        body{
            background-image: url('https://cdn.finam.ru/images/publications/1560997/1280_2_4cb818b298.jpg');
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
         }
    </style>
</head>
<body>
    <iframe src="https://www.google.com/maps/d/embed?mid=16xcSM9KktRv-LmYBJ-f59vG_dRZ3iak&ehbc=2E312F" width="640" height="480"></iframe>
    <h3><a href="http://127.0.0.1:5000/comment">Комментарии</a></h3>
</body>
</html>