<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зеленая планета</title>
    <style>
        body{
            background-image: url('https://cdn.finam.ru/images/publications/1560997/1280_2_4cb818b298.jpg');
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
         }

         .m1{
            border: dashed red;
         }

         .m2{
            border: dashed red;
         }
    </style>
</head>
<body>
    <iframe class="m1" width="560" height="315" src="https://www.youtube.com/embed/iU603knaB7U?si=qTHXhvDxun4RqfiT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe class="m2" width="560" height="315" src="https://www.youtube.com/embed/_MSTVBRagkc?si=1unnS_-w44OltLm6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3><a href="http://127.0.0.1:5000/maps">Карты</a></h3>
</body>
</html>